# Copia este archivo a .env y completa los valores

# Configuración de Base de Datos
DB_NAME=gestion_gastos_db
DB_USER=root
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=3306
# mysql | sqlite  (usa sqlite si no tienes MySQL configurado)
DB_ENGINE=mysql

# Seguridad de Django
SECRET_KEY=cambia-esta-clave-secreta
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
