# --- ARCHIVO CONFIGURADO P/ EVITAR SUBIR AL REPOSITORIO ---

# --- ENTORNO LOCAL Y CREDENCIALES (CRÍTICO) ---
.env
*.env
!.env.example
db.sqlite3
media/
/static_by_project/staticfiles/

# --- ENTORNO VIRTUAL (usar solo .venv) ---
.venv/
venv/
env/
ENV/
myworld/

# --- CACHÉ DE PYTHON ---
**/__pycache__/
*.py[cod]
*$py.class

# --- CONFIGURACIÓN DE EDITORES (VS CODE / JEDI) ---
.vscode/
*.code-workspace
.idea/

# --- ARCHIVOS DEL SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
